<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Bookstore Website Page</title>

    <link rel="stylesheet" th:href="@{~/css/details-page-style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>

    <header class="" th:insert="/fragment/header.html :: header"></header>

    <section id="product-section">
        <h1 class="heading">
            <span>Book details</span>
        </h1>
        <div class="card-wrapper">
            <div class="card">
                <div class="book-img">
                    <img th:src="@{'~/img/'+${book.id}+'.jpg'}" alt="" srcset="">
                </div>
                <div class="book-content">
                    <h2 class="book-title" th:text="${book.bookTitle}"></h2>
                    <div class="book-author"> by <span th:text="${book.bookAuthor}"></span></div>
                    <div class="book-rating">
                        <i class="fas fa-star"th:each="i:${#numbers.sequence(1,__${rating}__)}"></i>
                        <span th:text="${rating}"></span> <span th:text="'('+${reviews.size()}+')'"></span>
                     </div>
                     <div class="book-price">
                        <p class="availability">Availability: <span>in stock</span></p>
                        <p class="actual-price">Price: <span th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT')}+' zł'"></span></p>
                     </div>

                     <div class="book-detail" th:each="publisher:${book.publisher}">
                        <h2>Overview</h2>
                        <p th:text="${book.description}"></p>
                        <ul>
                            <li>ISBN: <span th:text="${book.ISBN}"></span></li>
                            <li>Book category: <span th:text="${book.bookCategory}"></span> </li>
                            <li>Publisher: <span th:text="${publisher.publisherName}"></span> </li>
                            <li>Publication date: <span th:text="${publisher.publishDate}"></span> </li>
                            <li>Book type: <span th:text="${publisher.bookType}"></span> </li>
                            <li>Pages: <span th:text="${publisher.pages}"></span> </li>
                            <li>Book language: <span th:text="${publisher.bookLanguage}"></span> </li>
                        </ul>
                    </div>
                    <div class="purchase-section">
                        <input type="number" min="1" value="1">
                        <button type="button" class="btn">Add to cart <i class="fas fa-shopping-cart"></i></button>
                        <button type="button" class="btn">Add to favourites <i class="fas fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="review" id="review">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1 class="heading-review">
                        <span>Book reviews</span>
                        <p>Express your opinion about the book</p>
                    </h1>
                </div>
            </div>
            <div class="row" id="swiper-container">
                <div class="swiper review-slider">
                    <div class="swiper-wrapper" id="swiper-wrapper">`;
                        <div class="swiper-slide slide-review" th:each="review:${reviews}">
                            <div class="box-container">
                                <div class="box">
                                    <img src="../img/avatar.png" alt="user_pic" />
                                    <h3 th:text="${review.login}"></h3>
                                    <div class="stars">
                                        <i class="fas fa-star" th:each="i:${#numbers.sequence(1,__${review.rating}__)}"></i>
                                    </div>
                                    <p th:text="${review.content}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-review" id="post-review">
                <div class="row-review">
                    <div class="image-review">
                        <img src="../img/books.png" alt="" />
                        <img src="../img/stand.png" alt="" />
                    </div>
                    <form th:action="@{'/api/add-reviews/'+${book.id}}" method="POST" th:object="${review}" id="review-form" sec:authorize="isAuthenticated()">
                        <div class="inputBox">
                            <input type="text" name="username" id="username_input" th:field="*{login}" placeholder="Nazwa użytkownika" maxlength="15" required />
                            <input type="email" name="email" id="email_input" th:field="*{email}" placeholder="E-mail" required />
                        </div>
                        <div class="inputBox">
                            <div class="container-rating">
                                <div class="star-widget">
                                    <input type="radio" th:field="*{rating}" name="rating" id="rate-5" value="5" />
                                    <label for="rate-5" class="fas fa-star"></label>
                                    <input type="radio" th:field="*{rating}" name="rating" id="rate-4" value="4" />
                                    <label for="rate-4" class="fas fa-star"></label>
                                    <input type="radio" th:field="*{rating}" name="rating" id="rate-3" value="3" />
                                    <label for="rate-3" class="fas fa-star"></label>
                                    <input type="radio" th:field="*{rating}" name="rating" id="rate-2" value="2" />
                                    <label for="rate-2" class="fas fa-star"></label>
                                    <input type="radio" th:field="*{rating}" name="rating" id="rate-1" value="1" checked />
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div>
                            </div>
                        </div>
                        <textarea maxlength="90" th:field="*{content}" placeholder="Wyraź swoją opinię na temat książki" name="content" id="content_input" cols="10" rows="2" required></textarea>
                        <input type="submit" value="Opublikuj" class="show-menu" id="submit_input" />
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>