<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Bookstore Website Page</title>

    <link rel="stylesheet" th:href="@{~/css/main-page-style.css}">
    <link rel="stylesheet" th:href="@{~/css/login.css}">
    <link rel="stylesheet" th:href="@{~/css/details-page-style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

</head>
<body>
<header th:insert="/fragment/header.html :: header"></header>

<section class="recommended" id="recommended">
    <h1 class="heading">
        <span>Login</span>
    </h1>

    <div class="login-container">
        <form th:action="@{/login}" method="post">
            <label><b>Username</b></label>
            <input id="username" type="text" placeholder="Username" name="username" required>

            <label><b>Password</b></label>
            <input id="password" type="password" placeholder="Password" name="password" required>

            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</section>

<script type="module" src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>